
*{

    padding: 0px;
    margin: 0px;
}

.cont1{

align-items: center;
display: flex;
justify-content: center;
flex-direction: column;
border: none;
background-color: #F0F2F5;
margin-bottom: 8px;
}

.cont1 h3{

    font-size: 50px;
    font-weight: bold;
    color: #0866FF;
    padding-bottom: 18px;
}

main{

    border: 1px none black;
    width: 33%;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 40px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); 
   
    
}

main .head{
    padding: 10px 15px;
    text-align: center;
}

.head h2{

    font-size: 20px;
}

form{

    padding: 10px 10px;
}

form input{

    padding: 10px 2px;
    margin-bottom: 7px;
}

form .p1{

    font-size: 12px;
    margin-bottom: 4px;
}

form .choice1{
    border: 0.5px solid black;

    padding: 8px 35px;
    margin-right: 4px;
    margin-bottom: 4px;
    
    


}



.radio-button{

    border: 0.5px solid black;
    padding: 5px 30px;
    align-items: center;
    display: inline-flex;
    border-radius: 5px;
    margin-right: 8px;
    margin-bottom: 8px;
    
    
}

.input_field input{

width: 98%;
margin-bottom: 8px;
}

.para1{

    margin: 14px 0px;
    font-size: 12px;
}

.para2{

    margin-bottom: 14px;
    font-size: 12px;
}

.signup{

     display: flex;
    align-items: center;
    justify-content: center;
    
}

.signup button{

    cursor: pointer;
    padding: 8px 60px;
    border-radius: 4px;
    border: none;
    background-color: #119F16;
    font-weight: bolder;
    color: white;
    font-size: 16px;
}

.para33{

    
    display: flex;
    justify-content: center;
    margin: 12px 0px;
    color: blue;
    font-size: 20px;
}